# This must be configured according to the customer environment.
# Normally, this should be defined in "~/user_conf/estop/FRV3_backup.config".
# BACKUP_DEST_DIR=


#### Default setting for backup uploader ####

# Use single quote to expand later.
TIMESTAMP_FORMAT='+%Y%m%d.%H%M%S'
BACKUP_FILE_BASE='${FRV3_HOST_TYPE}-bak-${TIMESTAMP}'
FRV3_BACKUP_TMP='/var/log/frontrunner/backup/FRV3_BACKUP_TMP'
FRV3_DIR='/etc/opt/frontrunner/frontrunnerV3'

# Directory and file under ${FRV3_BACKUP_TMP} for temporary use.
# They will be removed at the end of backup process.
FRV3_BACKUP_ROOT='${FRV3_HOST_TYPE}-${TIMESTAMP}'

BACKUP_DATABASE=false
BACKUP_PROPERTIES=true

# Since ${BACKUP_DATABASE} is false, no need to have these parameters.
#FRV3_DATABASE_BACKUP_FORMAT='${SCHEMA}-bak-${TIMESTAMP}.sql'
#
# # The command to dump database.
#SQLDB_DUMP_CMD_NO_PASSWD='mysqldump --single-transaction=TRUE -u ${SQL_USER} -E -R ${SCHEMA}'
#SQLDB_DUMP_CMD='mysqldump --single-transaction=TRUE -u ${SQL_USER} -p${SQL_PASSWORD} -E -R ${SCHEMA}'

# The command to copy the backup file to the backup directory.
# Using /bin/cp to force overwrite without asking permission to overwrite existing file.
BACKUP_CMD='/bin/cp ${BACKUP_FILE} ${BACKUP_DEST_DIR}'
